# VS Code workspace configure
.vscode/

# Visual Studio project folder
.vs/

# Atom plugin ftp config
.ftpconfig

# object files
*.o

# flex & bison generate codes
*.tab.*
*.lex.*

# executable file
cadb036

# test file folder
test_cases/
