# VS Code workspace configure
.vscode/

# Visual Studio project folder
.vs/

# Atom plugin ftp config
.ftpconfig

# object files
*.o

# flex & bison generate codes
*.tab.*
*.lex.*

# executable file
sequence_generator
